@font-face {
    font-family: 'iconfont';
    /* project id 1514231 */
    src: url('//at.alicdn.com/t/font_1514231_4tw1tpjckd.eot');
    src: url('//at.alicdn.com/t/font_1514231_4tw1tpjckd.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1514231_4tw1tpjckd.woff2') format('woff2'), url('//at.alicdn.com/t/font_1514231_4tw1tpjckd.woff') format('woff'), url('//at.alicdn.com/t/font_1514231_4tw1tpjckd.ttf') format('truetype'), url('//at.alicdn.com/t/font_1514231_4tw1tpjckd.svg#iconfont') format('svg');
}

[class^=icon-] {
    font-family: 'iconfont';
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
}